services:
  - type: web
    name: laravel-api
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: APP_NAME
        value: PruebasClaseConstruccion
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        fromDatabase:
          name: laravel-db
          property: connectionString
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromDatabase:
          name: laravel-db
          property: host
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        fromDatabase:
          name: laravel-db
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: laravel-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: laravel-db
          property: password
      - key: LOG_CHANNEL
        value: stack
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync

databases:
  - name: laravel-db
    databaseName: laravel_db
    user: laravel_user
    region: ohio
