node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
/vendor
/.idea
/.vscode
.DS_Store
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
storage/logs
storage/framework/cache
bootstrap/cache
tests
coverage
.editorconfig
